.xAxis {
    display: none;
}

#invi {
    display: none;
}

#histogram-button {
    display: none;
}
#denoise {
    display: none;
}

#image-selector2 {
    display: none;
}

#loading {
    display: none;
}
#preDiv{
    display: none;
}
#noiseDiv{
    display: none;
}
#hisDiv{
    display: none;
}
#inputDiv{
    display: none;
}
#deDiv{
    display: none;
}
#originalImg{
    width:100%;
}
#chimmy{
    height:500px;
    display: none;
}
header {
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eed4d4;
    height: 50px;
    display :flex;
    flex-direction: column;
    font-size: 30px;
}
footer{
    text-align: center;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #eed4d4;
    height: 50px;
    display :flex;
    flex-direction: column;
}
section {
    flex-grow: 1;
}

article {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

#flexbox {
    display: flex;
    width: 100%;
    height: 100%;
    background: #ffffff;
    box-sizing: border-box;
    justify-content: space-around;
    flex-wrap: wrap
}

#flexbox .box {
    background: #ffffff;
    width: 32.5%;
    flex-shrink: 0;
    align-items: flex-start;
}